/*.nav>li>.header-text:hover {
    text-decoration: none;
    background-color: #dd493a !important;
}*/
 .nav-pills >li.active>a{
	background-color:#1e4017c9 !important;
	color:white !important ;
}

.nav-pills>li>a{
	color:black !important;
}

body{
	background-color: #e3e5e6;
}
.all-match {
    padding: 0;
    background: #fff;
    box-shadow: 0 -1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
    margin: 2em -1em 4em 0;
 }   

 .match-info ul li {
    display: block;
    color: #B7B7B7;
    
    line-height: 1.8em;
    margin: 1em 0 0 0;
    border-bottom: solid 3px #EAEAEA;
   
    font-weight: 300;
}
.match-info ul {
    padding: 0;

    }
 .match-heading{
 	padding:10px;
 	background-color: #42444e;
 	color:white;
 	text-align:center;
 	font-weight:300;
 	font-size:1.5em;
 	
 }   
 .home-team{
 	text-align:right;
 }
 @media screen and (max-width:767px) {
 	.season-header{
 		margin-left:1.5rem;
 		margin-right:1.5rem;

 	}
 	.tabcontent{
 		padding:0 15px 0 0 !important;
 	}
 	.filter_search{
 		min-height:130px !important ;
 	}

 	
 	

 }
 
 @media screen and (min-width:768px){
    .match-info ul li {
        padding-bottom:5em ;
        font-size:1.14em ;
 	}

 	table{
 		font-size: 1.7rem !important;
 	}

 }		

@media screen and (min-width:650px) and  (max-width:767px){
    .match-info ul li {
        padding-bottom:4em ;
        font-size:1.14em ;
 	}	

 }
 @media screen and (min-width:602px) and (max-width:649px){

    .match-info ul li {
        padding-bottom:5em;
        font-size:1.1em;
 	}	

 }
 @media screen and (min-width:538px)  and (max-width:602px)  {

 	.match-info ul li {
        padding-bottom:5em ;
        font-size:0.9em ;
 	}	
 }
 @media screen and (max-width:537px){

 	
 	
 	.match-info ul li {
        padding-bottom:5em;
        font-size:1em;
 	}

 	.teams-name{
 		font-size:2rem !important;
 	}

 	.score{
 		font-size:2.2rem !important;
 	}	


 }
 
 @media screen and (max-width:426px) {

     /*.col-xxs-12 {
     	width:100%;
     	padding-right:5px;
     	padding-left:5px;
     	position:relative;
     }*/
     .col-xs-3 {
     	width:100% !important;
 	    text-align:left !important;
 	     padding-left:5px !important;
 	     padding-right:5px !important;

     }
     
     .match-info ul li {
    padding-bottom: 10em;
    font-size: 1.3em;

    }

    .home-team {
    	text-align:center !important;
    }

    .away-team{
    	text-align:center !important;
    }
    .date{
    	text-align:center !important;
    }
    .teams-name{
 		font-size:1.8rem !important;
 	}

 	.score{
 		font-size:1.5rem !important;
 	}

 	.table{
 		font-size: 0.9rem !important;
 	}	

 }

.filter{
	padding-top: 15px !important;
	padding-left:20px !important;
	padding-right:20px !important;
	  
}
.filter_date{
	padding-bottom:15px !important;
}

.card{
	box-shadow: 0px 0px 20px rgba(0,0,0,0.10),
     0px 10px 20px rgba(0,0,0,0.05),
     0px 20px 20px rgba(0,0,0,0.05),
     0px 30px 20px rgba(0,0,0,0.05);

     
}

img.logo {
    display: block;
    margin-left: auto;
    margin-right: auto 
}

.btn-primary.active, .btn-primary.focus{
    color: #fff;
    background-color: #173737;
    border-color: #173737;
}

a:focus {
    outline: thin !important;

 }

a{
	color:#466969;
} 


table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  background-color: #ffffff;
  margin-bottom: 70px !important;
  margin-top: 50px !important;
}

th,
td {
  padding: 6px 15px;
}
th {
  background: #42444e;
  color: #fff;
  text-align: left;
}
tr:first-child th:first-child {
  border-top-left-radius: 6px;
}
tr:first-child th:last-child {
  border-top-right-radius: 6px;
}
/*td {
  border-right: 1px solid #c6c9cc;
  border-bottom: 1px solid #c6c9cc;
}
td:first-child {
  border-left: 1px solid #c6c9cc;
}
tr:nth-child(even) td {
  background: #eaeaed;
}*/

tr:last-child td:first-child {
  border-bottom-left-radius: 6px;
}
tr:last-child td:last-child {
  border-bottom-right-radius: 6px;
}